.site {
    //background-color: rgb(122, 176, 207);
    background-color: $color__background-body;
    font-family: $font__main;
}

.home::after{
    position : absolute;
    content : "";
    width : 100%;
    height : 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    clip-path: polygon(83% 0, 100% 0, 100% 100%, 63% 100%);
    background-color:$color__background-body-clip ;
    z-index : -1;
    height : 150vh;
}



.site__header{
    grid-area: header;  
    background-color: rgba($color__background-header, .5);
}

.site__barre{
    grid-area: sidebar;
    background-color: rgba($color__background-barre, .5);
}

.site__main{
    grid-area: main;
    background-color: rgba($color__background-main,.5);
    padding: 10px 15px 10px 15px;
    display : flex;
    flex-direction : column;
}

.site__footer{
    grid-area: footer;
    background-color: $color__background-footer;
}

.site {
	display: grid;
    gap : 10px;
	grid-template-columns: auto;
	grid-template-areas:
		"sidebar"
        "header"
		"main"
		"footer";
}

@media screen and (min-width : $largeur__media--tablette)
{
    .site {
        grid-template-columns: auto ($size__site-barre);
        grid-template-areas:
            "header header"
            " main sidebar"
            "footer footer";
    }

    .home {
        display: grid;
        gap : 0px;
        grid-template-columns: auto;
        grid-template-areas:
            "sidebar"
            "header"
            "main"
            "footer";
    }
}


