/* ---------------- BACKGROUND */
$color__background-body : hsl(0, 0%, 0%);
$color__background-body-clip : hsl(0, 0%, 0%);
$color__background-main : hsl(0, 0%, 0%);
$color__background-cours : hsl(0, 0%, 0%);
$color__background-header : hsl(0, 0%, 100%);
$color__background-barre : hsl(0, 0%, 0%);
$color__background-footer : hsl(0, 0%, 0%);
$color__background-link : hsl(0, 0%, 0%);
$color__background-link-hover : hsl(0, 0%, 0%);

$color__background-404 : hsl(0, 0%, 0%);

/* ---------------- LIENS */
$color__link : hsl(0, 0%, 90%);
$color__link-hover : hsl(0, 0%, 57%);
$color__link-visited : hsl(29, 100%, 69%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(0, 0%, 90%);
$color__link__footer-hover : hsl(0, 0%, 57%);
$color__link__footer-visited : hsl(29, 100%, 69%);
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : hsl(0, 0%, 90%);
$color__link__header-hover : hsl(0, 0%, 57%);
$color__link__header-visited : hsl(29, 100%, 69%);

/* ---------------- FONT */
$color__font-header : rgb(4, 6, 41);
$color__font-main :rgb(255, 255, 255);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(241, 242, 248);

//*  -------------------   Titre */
$couleur__titre__principale : rgba(255, 255, 255, 0.938);
$couleur__titre__secondaire : rgba(255, 255, 255, 0.938);
$couleur__titre__ternaire : rgba(255, 255, 255, 0.938);
$couleur__paragraphe : rgb(255, 255, 255);

/*  -------------------   bouton */
$couleur__bouton : rgba(6, 14, 58, 0.938);
$couleur__bouton__background : rgba(101, 134, 203, 0.938);
$couleur__bouton--hover : rgba(36, 57, 126, 0.938);
$couleur__bouton__background--hover : rgba(138, 154, 205, 0.938);
$couleur__bouton--current : rgba(205, 210, 235, 0.938);
$couleur__bouton__background--current : rgba(37, 51, 95, 0.938);



$couleur__paragraphe : rgb(255, 255, 255);

/*------------------------------- carte d'acceuil              */
$couleur__carte__evenement: white;
$couleur__carte__evenement__background : black;
$couleur__carte__evenement--hover: black;
$couleur__carte__evenement__background--hover : darkgrey;