
/* Le parent de la boite__modale est la balise «body»  */
.boite__modale, .boite__carrousel {
    position : fixed;

    border: 5px solid #aaa;
    background-color: #f00;
    transform : scale(0);
    transition : all 1s ease-in-out;

    &--ouvrir {
        transform : scale(1)
    }

    &__ferme {
        position : absolute;
        width : 20px;
        height: 20px;
        top : 10px;
        right : 10px;
        z-index: 1;
    }


}
/* Les dimensions de la boîte modale */
.boite__modale{
    width : 50%;
    height : 50%;
    top:25%;
    left:25%;
    &__texte
    {
        overflow: hidden;
    }
}

/* Les dimensions de la boîte carrousel */
.boite__carrousel {
    width : 75%;
    height : 75%;
    top:12.5%;
    left:12.5%;

    &__navigation{
        position : absolute;
        display : flex;
        justify-content: center;
        bottom: 0;
        width : 100%;
        border:2px solid red;
        z-index: 1;

        button{
            width: 20px;
            height: 20px;
            margin : 5px 10px;
            border-radius: 100%;
            &:focus{
                background-color: #000;
            }
        }
    }

    
    &__img {
        position : absolute;
        top:0;
        bottom: 0;
        object-fit: cover;
        width : 100%;
        height: 100%;
    }
}



