.menu-accueil-container, .menu-evenement-container, .menu-atelier-container {
    // nav

    .menu {
        //ul
        display : flex;
        justify-content: space-around;
        
 

        .menu-item {
            //li
            display : flex;
            flex-direction: column;
            flex : 0 0 20%;
            border : 1px solid #aaa;
            justify-content: space-around;

            a {
                display : flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                
                font-size: 2rem;
                background-color: rgb(36, 36, 36);
                color: $color__link-visited;
                text-align: center;
                
                //a
                .menu-item-description {
                    // span`
                    font-size: 1rem;
                    text-align: center;
                }

                
            }
            a:hover{
                background-color: rgb(109, 109, 109);
            }
        }

    }
}
.menu-accueil-container{
    width: 100%;
    .menu-item{
        height: 100px;

        a{
            height : 100px;
        }
    }
}
.menu-evenement-container{
    width: 100%;
    .menu-item{
        height: 100px;

        a{
            height : 100px;
        }
    }
    
}
.menu-atelier-container{
    width: 100%;

    .menu-item{
        height: 130px;

        a{
            height : 130px;
        }
    }
    a:hover {
        .menu-item-icone{
            transform: scale(1.2) translateY(-10px);
            transition: 0.8s;
        }
    }
    .css__avance .menu-item-icone{
        background-image: url("https://s2.svgbox.net/files.svg?ic=css");
    }
    .intro__react .menu-item-icone{
        background-image: url("https://s2.svgbox.net/files.svg?ic=reactjs");
    }
    .html__css .menu-item-icone{
        background-image: url("https://s2.svgbox.net/files.svg?ic=html");
    }
    .intro__git .menu-item-icone{
        background-image: url("https://s2.svgbox.net/files.svg?ic=git");
    }


    .menu-item-icone {
                    
        width : 2rem;
        height : 2rem;

        margin-top : auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
    }
    // .menu{

    //     .css__avance .menu-item-icone{
    //         background-image: url("https://s2.svgbox.net/files.svg?ic=css");
    //         background-repeat: no-repeat;
    //     }
    // }

    // a:nth-of-type(2){
    //     background-image: url("https://s2.svgbox.net/files.svg?ic=reactjs");
    //     background-repeat: no-repeat;
    // }
    // a:nth-of-type(3){
    //     background-image: url("https://s2.svgbox.net/files.svg?ic=html");
    //     background-repeat: no-repeat;
    // }
    // a:nth-of-type(4){
    //     background-image: url("https://s2.svgbox.net/files.svg?ic=git");
    //     background-repeat: no-repeat;
    // }
}

hr{
    display: none;
}